legend + * {
  -webkit-margin-top-collapse: separate;
  margin-top: 10px;
}

.entryBox {
  /* border: 1px solid black; */
}

.entryBox .removeBtn {
  color: grey;
  /* box-shadow: none; */
  padding: 0px;
  min-width: 0px;
  line-height: 0px;
}

.entryBox .removeBtn:hover {
  background-color: red;
  color: #FFF;
}

.entryBox > .actionsBox {
  display: flex;
  justify-content: flex-end;
}

fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}

.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-form-field--inline .mat-form-field {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
  margin-right: 50px;
}