/* To be added */
.sidenav-container {
    height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: #3f51b5;
  color: #FFF;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu-spacer {
  flex: 1;
}

.menu-close-btn:hover {
  cursor: pointer;
  color: red;
}

.mat-toolbar-row.page-header {
  position: relatve !important;
  box-shadow: inset 0px 3px 5px #014;
}

.mat-toolbar-row.page-header > span {
  margin-left: 10px;
}

.active-navlink, .navlink:hover {
  color: #28a745;
  cursor: pointer;
  text-decoration: none;
}

.mat-toolbar-row .menu-actions {
  display: inline-flex;
  justify-content: baseline;
}

.mat-toolbar-row .menu-actions a {
  background-color: #28a745; 
  text-decoration: none;
}

.app-icon>img:hover {
  background-color: #3f51b5;
  opacity: 0.7;
}




    /* background-color: #7b1fa2;  */
    /* box-shadow: inset 0px 5px 18px #5a1063; */
    /* box-shadow: inset 0px 5px 18px #2e30b3; */