<div class="fixed-navmenu">
  <mat-toolbar color="primary">
    <mat-toolbar-row>

      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>

      <a mat-button [routerLink]="'/'" class="navlink" routerLinkActive="active-navlink" [routerLinkActiveOptions]="{exact: true}">
        <h1 class="page-header">VirusDB</h1>
      </a>

      <span class="menu-spacer"></span>

      <div>
        <a mat-button [routerLink]="'/viruses'" class="navlink" routerLinkActive="active-navlink" [routerLinkActiveOptions]="{exact: true}">
          Viruses 
        </a>
      </div>

      <span class="menu-spacer"></span>

      <app-search></app-search>

      <span class="menu-spacer" style="flex: 1 1 auto;"></span>

      <a mat-button style="background-color: #28a745; text-decoration: none;" [routerLink]="'/add-virus'">Add Virus</a>

    </mat-toolbar-row>
  </mat-toolbar>

  <!-- Side nav -->
  <mat-sidenav-container>
    <mat-sidenav #sidenav style="width: 20vw; min-width: 100px;">
      <mat-nav-list>

        <a mat-list-item [routerLink]="'/'" class="navlink" routerLinkActive="active-navlink" [routerLinkActiveOptions]="{exact: true}"> Home </a>
        <a mat-list-item [routerLink]="'/viruses'" class="navlink" routerLinkActive="active-navlink" [routerLinkActiveOptions]="{exact: true}"> Viruses </a>
        <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>

      </mat-nav-list>
    </mat-sidenav>
    #06F
    #009
    <mat-sidenav-content style="background-color: #f0f0f0; height: 90vh;">

      <!-- <div class="header-container" style="display: flex; flex-direction: column; align-items: center;">
        <div class="container" style="display: flex; padding-top: 20px; margin-bottom: 50px;">
          <h1>{{ activeTab.toString() }}</h1>
        </div>
        <router-outlet></router-outlet>
      </div> -->
      
      <router-outlet></router-outlet>
      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<!-- <router-outlet></router-outlet> -->