<mat-sidenav-container class="sidenav-container">

  <!-- Mobile drawer view -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>
      <!-- <span>VirusDB</span> -->
      <span>
        <a (click)="drawer.toggle()" class="app-icon" [routerLink]="'/'">
          <img src="/assets/public/img/virusDB_logo.png" alt="app_logo" width="57" height="57">
        </a>
      </span>
      <span class="menu-spacer"></span>
      <mat-icon class="menu-close-btn" (click)="drawer.toggle()" aria-hidden="false" aria-label="Close icon">close</mat-icon>
    </mat-toolbar>
    <mat-nav-list>
      <app-search></app-search>
      <a mat-list-item [routerLink]="'/'" (click)="drawer.toggle()" class="navlink" routerLinkActive="active-navlink"
          [routerLinkActiveOptions]="{exact: true}"> Home </a>
        <a mat-list-item [routerLink]="'/viruses'" (click)="drawer.toggle()" class="navlink" routerLinkActive="active-navlink"
          [routerLinkActiveOptions]="{exact: true}"> Viruses </a>
        <a mat-list-item [routerLink]="'/add-virus'" (click)="drawer.toggle()" class="navlink" routerLinkActive="active-navlink"
          [routerLinkActiveOptions]="{exact: true}"> Add virus </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Navbar view -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <mat-toolbar-row [ngStyle]="{'justify-content': (isHandset$ | async) ? 'space-between' : 'flex-start'}">
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <!-- start of new navbar layout for desktop view -->
        <ng-container *ngIf="(isHandset$ | async) === false; else displayMobileView">
          <!-- div to group items together for better layout organization-->
          <div>
            <a class="app-icon" [routerLink]="'/'">
              <img src="/assets/public/img/virusDB_logo.png" alt="app_logo" width="57" height="57">
            </a>
            <a mat-button [routerLink]="'/viruses'" class="navlink" routerLinkActive="active-navlink"
              [routerLinkActiveOptions]="{exact: true}">
              Viruses
            </a>
          </div>
          <!-- end of desktop nav layout -->
          <app-search></app-search>
          <span class="menu-spacer"></span>
          <div class="menu-actions">
            <div>
              <a mat-button [routerLink]="'/add-virus'">Add Virus</a>
              <a mat-button *ngIf="(auth.user | async) as user; else showLogin" style="background-color: red;" 
                [ngStyle]="{'margin-left': (isHandset$ | async) ? '0px' : '10px'}" [routerLink]="['./']" (click)="logout()">Logout</a>
              <ng-template #showLogin>
                <a mat-button style="background-color: #fd0e5e; text-decoration: none; word-wrap: break-word;"
                [ngStyle]="{'margin-left': (isHandset$ | async) ? '0px' : '10px'}" [routerLink]="['/login']">Login</a>
              </ng-template>
            </div>
          </div>
        </ng-container>

        <!-- start of new navbar layout for mobile view -->
        <ng-template #displayMobileView>
          <!-- div to group items together for better layout organization-->
          <div>
            <a class="app-icon" [routerLink]="'/'">
              <img src="/assets/public/img/virusDB_logo.png" alt="app_logo" width="57" height="57">
            </a>
          </div>
          <a mat-button *ngIf="auth.user | async as user; else showLogin" style="background-color: red;" 
              [ngStyle]="{'margin-left': (isHandset$ | async) ? '0px' : '10px'}" [routerLink]="['./']" (click)="logout()">Logout</a>
            <ng-template #showLogin>
              <a mat-button style="background-color: #fd0e5e; text-decoration: none;"
              [ngStyle]="{'margin-left': (isHandset$ | async) ? '0px' : '10px'}" [routerLink]="['/login']">Login</a>
            </ng-template>
        </ng-template>
        <!-- end of mobile nav layout -->

      </mat-toolbar-row>
        
      <!-- Page header -->
      <mat-toolbar-row class="page-header">
        <span>{{ currentPage }}</span>
      </mat-toolbar-row>

    </mat-toolbar>

    <!-- This is the placeholder for main content. Add main content here -->
    <ng-content></ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>