<form [formGroup]="formGroup" (ngSubmit)="submit()">

    <mat-form-field style="width: auto; min-width: 100px;">
        <mat-label>Parasite species</mat-label>
        <input formControlName="species_name" matInput placeholder="Enter species term here">
    </mat-form-field>

    <div formArrayName="entries" *ngFor="let item of entryFormGroups; let i = index;">
        <div class="entryBox" [formGroupName]="i" [ngStyle]="{'margin-top': i > 0 ? '10px' : '0px'}">

            <div class="actionsBox">
                <button mat-raised-button class="removeBtn" *ngIf="entryFormGroups.length > 1 && i > 0"
                    (click)="removeItem(i)">
                    <mat-icon aria-hidden="false" aria-label="Close icon">close</mat-icon>
                </button>
            </div>

            <div class="mat-form-field--inline">
                <mat-form-field appearance="standard" style="width: auto; min-width: 50px;">
                    <mat-label>Country found</mat-label>
                    <input formControlName="country" matInput placeholder="Enter country of discovery here">
                </mat-form-field>
                <mat-form-field appearance="standard" style="width: auto; min-width: 50px;">
                    <mat-label>Date found</mat-label>
                    <input formControlName="date_found" matInput placeholder="Enter date period of discovery here">
                </mat-form-field>
            </div>

            <mat-card formGroupName="citation" style="margin-top: 20px; background-color: #FAFAFF;">
                <mat-card-title>
                    <span>Citation {{ i }}</span>
                </mat-card-title>
                <mat-card-content>
                    <mat-form-field appearance="standard" style="width: 100%;">
                        <mat-label>Author names</mat-label>
                        <input formControlName="author" matInput placeholder="Enter names of authors here (Separate by ',')">
                    </mat-form-field>

                    <mat-form-field appearance="standard" style="width: auto; min-width: 50px;">
                        <mat-label>Year of Publication</mat-label>
                        <input formControlName="pub_year" matInput placeholder="Enter year of publication here">
                    </mat-form-field>
                </mat-card-content>
            </mat-card>

            <hr *ngIf="i < entryFormGroups.length-1">

        </div>
    </div>

    <button mat-raised-button type="button" (click)="addItem()" color="foreground" style="margin-top: 10px;">
        <mat-icon aria-hidden="false" aria-label="Add icon" style="color: red; font-weight: bolder;">add</mat-icon> Add a Discovery
    </button>
    <div class="form-actions">
        <button mat-raised-button type="submit" color="primary" style="width: 20%; padding: 0 10px;">Submit</button>
        <button mat-raised-button type="button" (click)="cancel()" color="accent" style="width: 20%; padding: 0 10px;">Cancel</button>
    </div>
</form>