.main-container #results-length {
    margin-top: 20px; 
    color: #a1a1cc;
}

@media(max-width: 720px) {
    .row {
        width: auto; 
        display: flex;
        justify-content: space-between; 
        flex-direction: column;
        padding: 0 15px;
    }
}

@media(min-width: 721px) {
    .row {
        width: auto; 
        display: flex;
        justify-content: space-between; 
        flex-direction: row;
        padding: 0 15px;
    }
}

.row .field-label {
    color: #4A0BD4;
}
