<div class="main-container">

    <ng-container *ngIf="filteredViruses;">
        <h2 id="results-length">Returned {{ filteredViruses.length }} results</h2>

        <ng-container
            *ngFor="let virus of filteredViruses | paginate: { itemsPerPage: filteredViruses.length, currentPage: p }">

            <mat-card style="width: 40%; min-width: 200px;">
                <mat-card-title>
                    <h2>
                        <a style="color: #3808A1;" routerLink='/edit-virus/{{ virus._id }}'>{{ virus.species_name }}</a>
                    </h2>
                </mat-card-title>
                <hr>
                <mat-card-content>
                    <div class="row">
                        <p><span class="field-label">Country: </span> {{ virus.discovery.country }} </p>
                        <p><span class="field-label">Period of Discovery: </span> <br>
                            {{ virus.discovery.date_found }}
                        </p>
                    </div>
                    
                    <div class="row">
                        <p><span class="field-label">Author(s): </span> {{ virus.discovery.citation.author }} </p>
                        <p><span class="field-label">Year of Publication: </span>
                            {{ virus.discovery.citation.pub_year }} </p>
                    </div>
                </mat-card-content>
            </mat-card>

            <br>

        </ng-container>

        <div style="margin-left: -80px;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </ng-container>

    <!-- Loader component -->
    <!-- <ng-template #loadingViruses>
        <div *ngIf="filteredViruses == undefined" class="loader-backdrop">
            <div class="loader-body">
                <mat-spinner></mat-spinner>
                <p>Shhhh... Plundering data from the server</p>
            </div>
        </div>
    </ng-template> -->

</div>
