<div class="content-container">
    <div class="container" style="padding-top: 20px;">
        <h1>Viruses</h1>
    </div>

    <!-- <div class="main-container" *ngIf="viruses"> -->

    <div class="main-container" *ngIf="filteredViruses">
        <div style="display: flex; justify-content: center;">
            <h2>Returned {{ filteredViruses.length }} results</h2>
        </div>

        <ng-container *ngFor="let virus of filteredViruses | paginate: { itemsPerPage: 5, currentPage: p }">
            <div class="container" style="width: 100%;">

                <div class="discovery-details-container container">
                    <h3>{{ virus.species_name }}</h3>
                    <div class="row container">
                        <p><span class="field-label">Country: </span> {{ virus.discovery.country }} </p>
                        <p><span class="field-label">Period of Discovery: </span> <br>
                            {{ virus.discovery.date_found }}
                        </p>
                    </div>

                    <div class="row container">
                        <p><span class="field-label">Author: </span> {{ virus.discovery.citation.author }} </p>
                        <p><span class="field-label">Year of Publication: </span>
                            {{ virus.discovery.citation.pub_year }} </p>
                    </div>
                </div>

            </div>
        </ng-container>

        <br>

        <div style="display: flex;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
    <!-- </div> -->
</div>



<!-- {{ viruses | json }} -->