<div class="content-container">
  <div class="container" style="padding-top: 20px;">
    <h1>Edit a Virus</h1>
  </div>
</div>

<div class="container" style="display: flex; justify-content: center; width: 100%; margin-top: 20px; width: 100%;">

  <mat-card style="width: 80%;">
    <mat-card-header>
      <mat-card-title>Virus</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-virus-cm-form [formData]="entryData" (onSubmit)="updateVirus($event)" (onCancel)="cancel()"></app-virus-cm-form>
    </mat-card-content>
  </mat-card>
  
</div>




<!-- <mat-form-field appearance="standard" style="width: 20vw;">
              <mat-label>Parasite species</mat-label>
              <input formControlName="species_name" matInput placeholder="Enter species term here">
            </mat-form-field>
    
            <div formArrayName="entries" *ngFor="let item of entryFormGroups; let i = index;">
              <div class="entryBox" [formGroupName]="i" style="margin-top: 20px;">
    
                <div class="actionsBox">
                  <button mat-raised-button class="removeBtn" *ngIf="entryFormGroups.length > 1 && i > 0" (click)="removeItem(i)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
                  </button>
                </div>
                
                <div class="mat-form-field--inline">
                  <mat-form-field appearance="standard" style="width: 20vw;">
                    <mat-label>Country found</mat-label>
                    <input formControlName="country" matInput placeholder="Enter country of discovery here">
                  </mat-form-field>
                  <mat-form-field appearance="standard" style="width: 20vw;">
                    <mat-label>Date found</mat-label>
                    <input formControlName="date_found" matInput placeholder="Enter date period of discovery here">
                  </mat-form-field>
                </div>
    
                <div formGroupName="citation" style="margin-top: 20px;">
                  <fieldset style="width: auto;">
                    <legend>
                      <span style="font-size: medium;">Citation {{ i }}</span>
                    </legend>
    
                    <mat-form-field appearance="standard" style="width: 100%;">
                      <mat-label>Author names</mat-label>
                      <input formControlName="author" matInput placeholder="Enter names of authors here">
                    </mat-form-field>
    
                    <mat-form-field appearance="standard" style="width: 20vw;">
                      <mat-label>Year of Publication</mat-label>
                      <input formControlName="pub_year" matInput placeholder="Enter year of publication here">
                    </mat-form-field>
                  </fieldset>
                </div>
               
              </div>
            </div>
    
            <button mat-raised-button type="button" (click)="addItem()" color="primary" style="margin-top: 10px;">
              <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon> Add a Discovery
            </button>
            <div style="display: flex; justify-content: space-between; margin-top: 10px;">
              <button mat-raised-button type="submit" color="primary">Submit</button>
              <button mat-raised-button type="reset" (click)="resetForm()" color="accent">Clear</button>
            </div> -->